* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/*Clases utilitarias*/
.mas-valorada {
    background-color: rgba(255, 231, 95, 0.767);
    font-weight: bold;
}
.text-center {
    text-align: center;
}

.text-center-p {
    text-align: center;
    padding: 10px 20px;
}

.text-white {
    color: aliceblue;
}
/*nav*/
header {
    background-color: black;
    color: gainsboro;
}
.head {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}
#nav-btn{
    width: 50px;
    height: 50px;
    border-style: none;
    background-color: inherit;
}
#nav-btn img {
    width: 100%;
}
.nav-mobile {
    padding: 1em;
    display: flex;
    justify-content: end;
    align-items: center;
}
.oculto {
    display: none;
}
.nav-desktop {
    display: none;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    
}
h2 {
    text-align: center;
    font-size: 1.3em;
}
a {
    color: #000; 
}

.inicio{
   color: aliceblue;
   text-decoration: none;
}

/*body*/
main {
    padding: 20px;
    background-image: linear-gradient(to top, black, firebrick);
}
.cloud {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
/*form*/
form {
    width: fit-content;
    margin: auto;
}
.formin {
    display: block;
}
/*tablas*/
table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
td, th {
    border: solid 1px black;
    width: fit-content;
    max-width: 80px;
    overflow-wrap: break-word;
}
td:last-child {
    text-align: center;
    font-size: 1.1em;
}
.div-din {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tabla th:last-child {
    font-size: 12px;
}
#tabla td, #tabla th {
    width: 33%;
}

/*Artistas*/
.section-art {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.article-art {
    width: 300px;
    min-height: 300px;
    margin: 10px 0;
}
.article-art img {
    width: 240px;
    height: 198px;
    border-radius: 7px;
}
/*Mas generos*/
.generos-scroll {
    display: flex;
    overflow-y: scroll;
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: auto;
}
.gen-container {
    display: flex;
    gap: inherit;
    flex-direction: inherit;
    align-items: center;
}
.genpack {
    display: flex;
    flex-wrap: wrap;
    gap: inherit;
    justify-content: center;
}
.generos_scroll div {
    display: inline-block;
}
.sm-title {
    display: inline-block;
    text-align: center;
    line-height: 150px;
    min-width: 150px;
    background-color: rgba(51, 47, 46, 0.404);
}
.xl-title {
    text-align: center;
    line-height: 150px;
    min-width: 150px;
    background-color: rgba(2, 17, 46, 0.233);
}
.bgimg-rock {
    background-image: url('../imagenes/rock.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-hiphop {
    background-image: url('../imagenes/hip-hop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}  
.bgimg-rap {
    background-image: url('../imagenes/rap.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-electro {
    background-image: url('../imagenes/electronica.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-metal {
    background-image: url('../imagenes/metalica.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-punk {
    background-image: url('../imagenes/punk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-indie {
    background-image: url('../imagenes/musica indie.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-merengue {
    background-image: url('../imagenes/Merengue.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-salsa {
    background-image: url('../imagenes/Salsa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-clasica {
    background-image: url('../imagenes/clasica.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-jazz {
    background-image: url('../imagenes/jazz.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-country {
    background-image: url('../imagenes/country.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-reggaeton {
    background-image: url('../imagenes/raeggaeton.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.bgimg-tango {
    background-image: url('../imagenes/Tango.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
/*footer*/
footer {
    background-color: black;
    color:aliceblue;
    padding: 0.3em;
}
footer h2 {
    text-align: start;
}
.fdiv-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    width:100%;
    margin-top: 50px;
}
.fdiv-1 div {
    width: 40%;
}
ul {
    list-style: none;
}
hr {
    height: 1px;
    background-color: grey;
    border: none;
}
.fdiv-2 {
    padding: 10px;
    text-align: center;
    font-size: small;
}
.fform {
    margin-top: 10px;
    text-align: center;
}
.bttmfooter {
    background-color: rgb(34, 32, 32);
    color: azure;
}

@media (min-width:375px) {
    .article-art img {
        width: 296px;
        height: 210px;
    }
}

@media (min-width:425px) {
    footer {
        padding: 1em;
    }
    .fdiv-1 {
        flex-wrap: nowrap;
        gap: 1em;
        width:100%;
    }
    .fdiv-1 div {
        width: 25%;
    }
    .article-art img {
        width: 296px;
        height: 210px;
    }
    .article-art {
        margin: auto;
    }
    td, th {
        max-width: none;
    }
}


@media (min-width: 600px) {
    #nav-btn {
        display: none;
    }
    .nav-mobile {
        display: none;
    }
    .nav-desktop {
        display: inline-block;
    }
    nav ul {
        flex-direction: row;
        gap: 10px;
    }
 

}

.forms {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .tabla-gem {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 15px;
    }
    table {
        width: 600px;
    }
    tr:nth-child(even) {
        width: 10em;
    }
    .bgimg-rock {
        height: 310px;
        width: 330px;
        margin-left: 10px;
    }
    .generos-scroll {
        max-width: fit-content;
    }
    .gen-container {
        flex-direction: row;
    }
    .gen-container:nth-child(even) {
        flex-direction: row-reverse;
    }    
    .genpack {
        display: flex;
        max-width: 320px;
        flex-wrap: wrap;
        gap: inherit;
        justify-content: center;
    }
    .xl-title{
        line-height: 310px;
    }
    .bgimg-merengue {
        margin-right: 10px;
        height: 310px;
        width: 330px;
    }
}



@media (min-width: 1024px) {
    .genpack {
        gap: 10px;
        margin: 0;
        max-width: 490px;
    }
    .gen-container {
        gap:0;
    }

}

